/*.navbar {*/
    /*margin-bottom: 0;*/
    /*background-color: azure;*/
    /*z-index: 9999;*/
    /*border: 0;*/
    /*font-size: 15px !important;*/
    /*line-height: 1.42857143 !important;*/
    /*letter-spacing: 0.2px;*/
    /*border-radius: 0;*/
    /*font-family: helvetica;*/
    /*font-weight: bold;*/
    /*overflow:visible;*/
    /*min-height:50px;*/

/*}*/

/*.navbar-brand>img {*/
    /*max-height: 120%;*/
    /*height: 120%;*/
    /*width: auto;*/


/*}*/

/*.navbar-nav li a:hover,*/
/*.navbar-nav li.active a {*/
    /*color: #14394f !important;*/
    /*background-color: #8db9d3!important;*/
    /*text-decoration: none;*/
/*}*/

/*.navbar ul{*/
    /*margin:0; */
    /*padding:0; */
    /*list-style:none;*/
/*}*/

/*.navbar ul li{*/
    /*float:left; */
    /*position:relative;*/
    /*background-color: azure;*/
/*}*/
/*.navbar ul li a*/
/*{*/
    /*color:#000; */
    /*display:block; */
    /*font-family:'helvetica'; */
    /*font-size:15px; */
    /*padding:18px 18.7px;*/

/*}*/


.jumbotron {
    height: 600px;
    margin-bottom: 0px;
    background-color: azure;
    background-image: url(../img/jumbotronbackground2.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
}
.jumbotron a:hover {
    text-decoration: none;

}

.jumbotron p {
    font-size: 30px;
}

.bg_grey {
    color: aliceblue;
}

.middle h1 {
    max-height: 200px;
    font-size: 25px;
    font-weight: bold;
    font-family: serif
}

.travel {
    margin-bottom: 0px;
    background-color: azure;
    background-image: url(../img/travel.jpg);
    background-position: center;
    background-size: 97% 100%;
    background-repeat: no-repeat;
    height: 400px;

}
.travel h2 {
    font-size: 50px;
    font-weight: bold;
    color:black;
    margin-top:20%;
    text-decoration: none;
    background-color: #ffffff;
    margin-left:30%;
    margin-right:30%;
    opacity: 0.6;
}

.travel a:hover {
    text-decoration: none;
}

.eat {
    margin-bottom: 0px;
    background-color: azure;
    background-image: url(../img/eat.jpg);
    background-position: center;
    background-size: 97% 100%;
    background-repeat: no-repeat;
    height: 400px;
    
}
.eat h2 {
    font-size: 50px;
    font-weight: bold;
    color:black;
    margin-top:20%;
    text-decoration: none;
    background-color: #ffffff;
    margin-left:30%;
    margin-right:30%;
    opacity: 0.6;
}

.eat a:hover {
    text-decoration: none;
}
.relax {
    margin-bottom: 0px;
    background-color: azure;
    background-image: url(../img/relax.jpg);
    background-position: center;
    background-size: 97% 100%;
    background-repeat: no-repeat;
    height:400px;
   
}
.relax h2 {
    font-size: 50px;
    font-weight: bold;
    color:black;
    margin-top:20%;
    text-decoration: none;
    background-color: #ffffff;
    margin-left:30%;
    margin-right:30%;
    opacity: 0.6;
}

.relax a:hover {
    text-decoration: none;
}
.trend {
    margin-top: 30px;
	margin-bottom: 50px;
    margin-left: 160px;
    background-color: azure;
    background-image: url(../img/trend.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:450px;
}
.bottom p {
    font-family:Helvetica;
    font-size:24px;
    color:black;
    margin-top:5px;
}

.footer_container{
    width: 980px;
	background-color: azure;
}
.footer_container strong{
    font-weight: bold;
}
.footer_container div.container{
    width: 320px;
    float: left;
}
.footer_container ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer_container ul li {
    width: 160px;
    float: left;
}
