/*.navbar {*/
    /*margin-bottom: 0;*/
    /*background-color: azure;*/
    /*z-index: 9999;*/
    /*border: 0;*/
    /*font-size: 15px !important;*/
    /*line-height: 1.42857143 !important;*/
    /*letter-spacing: 0.2px;*/
    /*border-radius: 0;*/
    /*font-family: helvetica;*/
    /*font-weight: bold;*/
    /*overflow:visible;*/
    /*min-height:50px;*/

/*}*/

/*.navbar-brand>img {*/
    /*max-height: 120%;*/
    /*height: 120%;*/
    /*width: auto;*/


/*}*/

/*.navbar-nav li a:hover,*/
/*.navbar-nav li.active a {*/
    /*color: #14394f !important;*/
    /*background-color: #8db9d3!important;*/
    /*text-decoration: none;*/
/*}*/

/*.navbar ul{*/
    /*margin:0; */
    /*padding:0; */
    /*list-style:none;*/
/*}*/

/*.navbar ul li{*/
    /*float:left; */
    /*position:relative;*/
    /*background-color: azure;*/
/*}*/
/*.navbar ul li a*/
/*{*/
    /*color:#000; */
    /*display:block; */
    /*font-family:'helvetica'; */
    /*font-size:15px; */
    /*padding:18px 18.7px;*/

/*}*/


.jumbotron {
    height: 600px;
    margin-bottom: 0px;
    background-color: azure;
    background-image: url(../img/jumbotronbackground2.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
}
.jumbotron a:hover {
    text-decoration: none;

}

.jumbotron p {
    font-size: 30px;
}

.bg_grey {
    color: aliceblue;
}

.middle h1 {
    max-height: 200px;
    font-size: 25px;
    font-weight: bold;
    font-family: serif
}

.travel {
    margin-bottom: 0px;
    background-color: azure;
    background-image: url(../img/travel.jpg);
    background-position: center;
    background-size: 97% 100%;
    background-repeat: no-repeat;
    height: 400px;

}
.travel h2 {
    font-size: 50px;
    font-weight: bold;
    color:black;
    margin-top:20%;
    text-decoration: none;
    background-color: #ffffff;
    margin-left:30%;
    margin-right:30%;
    opacity: 0.6;
}

.travel a:hover {
    text-decoration: none;
}

.eat {
    margin-bottom: 0px;
    background-color: azure;
    background-image: url(../img/eat.jpg);
    background-position: center;
    background-size: 97% 100%;
    background-repeat: no-repeat;
    height: 400px;
    
}
.eat h2 {
    font-size: 50px;
    font-weight: bold;
    color:black;
    margin-top:20%;
    text-decoration: none;
    background-color: #ffffff;
    margin-left:30%;
    margin-right:30%;
    opacity: 0.6;
}

.eat a:hover {
    text-decoration: none;
}
.relax {
    margin-bottom: 0px;
    background-color: azure;
    background-image: url(../img/relax.jpg);
    background-position: center;
    background-size: 97% 100%;
    background-repeat: no-repeat;
    height:400px;
   
}
.relax h2 {
    font-size: 50px;
    font-weight: bold;
    color:black;
    margin-top:20%;
    text-decoration: none;
    background-color: #ffffff;
    margin-left:30%;
    margin-right:30%;
    opacity: 0.6;
}

.relax a:hover {
    text-decoration: none;
}
.trend {
    margin-top: 30px;
	margin-bottom: 50px;
    margin-left: 160px;
    background-color: azure;
    background-image: url(../img/trend.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:450px;
}.trend2 {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 160px;
    background-color: azure;
    background-image: url(../img/trend2.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:450px;
}
.trend3 {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 160px;
    background-color: azure;
    background-image: url(../img/trend3.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:450px;
}
.trend4 {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 160px;
    background-color: azure;
    background-image: url(../img/trend4.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:450px;
}
.trend5 {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 160px;
    background-color: azure;
    background-image: url(../img/trend5.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:450px;
}
.trendtext p {
    font-size:24px;
}
.bottom p {
    font-family:Helvetica;
    font-size:24px;
    color:black;
    margin-top:5px;
}

/*CSS for footer*/

ul,li{
    padding:0;
    margin:0;
}
li{
    list-style-type:none;
}

footer { 
	background-color:#001f3f;
	min-height:250px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

.footer-col { 
	margin-top:10px; 
}

.logofooter { 
	margin-bottom:10px;
	font-size:25px;
	color:#fff; 
	font-weight:700;
}

.footer-col p { 
	color:#fff; 
	font-size:12px; 
	font-family: 'Open Sans', sans-serif; 
	margin-bottom:15px;
}

.footer-col p i {
	width:12px;
	color:#999;
}

.footer-ul { 
	list-style-type:none; 
	padding-left:0;
	margin-left:2px;
}

.footer-ul li { 
	line-height:24px;
	font-size:12px;
}

.footer-ul li a { 
	color:#a0a3a4; 
	transition: color 0.2s linear 0s, background 0.2s linear 0s; 
}

.f1 { 
	min-height:30px;
	background-color:#000000;
}

.f1 p { 
	text-align:left; 
	color:#FFF; 
	padding:10px 0;
	margin-bottom:0;
}

.heading7 {
	font-size:20px; 
	font-weight:600; 
	color:#d9d6d6;
	margin-bottom:10px;
}

.post p { 
	font-size:12px;
	color:#FFF;
	line-height:20px;
}

.post p span { 
	display:block; 
	color:#8f8f8f;
}

.bottom_ul { 
	list-style-type:none; 
	float:right;
	margin-bottom:0;
}

.bottom_ul li { 
	float:left;
	line-height:40px;
}

.bottom_ul li:after {
	content:"/"; 
	color:#FFF;
	margin-right:8px;
	margin-left:8px;
}

.bottom_ul li a { color:#FFF;  font-size:12px;}

.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}

.footer-social li{
     float:left;
 }

.facebook{
     background-color:#3b5998;
 }
 
.twitter{
     background-color:#1da1f2;
 }
 
.google{
     background-color:#f63e28;
 }
