.jumbotron {
  background-color:azure;
}
.logo {
	float:right;
}
/** fonts used for the icons **/ 
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: rgb(106, 159, 171);
    position: absolute;
    left: 10px;
    top: 35px;
	width: 30px;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a.hiddenanchor{
	display: none;
}

#wrapper{
	width: 60%;
	right: 0px;
	float:left;
	min-height: 560px;	
	margin: 0px auto;	
	width: 500px;
	position: relative;	
}

#wrapper a{
	color:#5f99c8;
	text-decoration: underline;
}

#wrapper h1{
	font-size: 48px;
	color: #1a1a1a;
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 3px;
}
#wrapper p{
	margin-bottom:15px;
}
#wrapper p:first-child{
	margin: 0px;
}
#wrapper label{
	color:#1a1a1a;
	position: relative;
}

::-webkit-input-placeholder  { 
	color:#1a1a1a; 
	font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
	color:#1a1a1a;
	font-style: italic;
} 
input {
  outline: none;
}

#wrapper input:not([type="checkbox"]){
	width: 92%;
	margin-top: 0px;
	padding: 3px 3px 2px 32px;	
	border: 1px solid #1a1a1a;
	font-size:15px;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
	border: 1px solid #1a1a1a;
	background: #ffffff;;	
} 




#wrapper p.button input{
	width: 30%;
	cursor: pointer;	
	background:black;
	padding: 8px 5px;
	font-family:Helvetica;
	color: #fff;
	font-size: 20px;	
	border: 1px solid #1a1a1a;;	
	margin-bottom: 10px;	
	text-shadow: 0 1px 1px #1a1a1a;;
	border-radius:6px;

}
#wrapper p.button input:hover{
	background:#e6e6e6;
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
	background:#f2f2f2;
	position: relative;
	top: 1px;
	border: 1px solid #1a1a1a;);	

}
p.login.button,
p.signin.button{
	text-align: right;
	margin: 5px 0;
}



.keeplogin{
	margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
	display: inline-block;
	font-size: 12px;	
	font-style: italic;
}
.keeplogin input#loginkeeping{
	margin-right: 5px;
}
.keeplogin label{
	width: 80%;
}




p.change_link{
	position: absolute;
	color:black;
	left: 0px;
	height: 20px;
	width: 438.5px;
	padding: 17px 30px 38px 30px;
	font-size: 16px	;
	text-align: right;
	background:#C9C9C9;
	
}
#wrapper p.change_link a {
	display: inline-block;
	font-size:15px;
	font-weight: bold;
	background: #808080;
	padding: 1px 6px 1px 6px;
	color:black;
	margin-left: 10px;
	text-decoration: none;
	border-radius: 4px;
	border: 1px solid #737373;
	transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
	color:#e6e6e6;
	background: #000000;
	border: 1px solid #000000;
}
#wrapper p.change_link a:active{
	position: relative;
	top: 1px;
}

#register, 
#login{
	position: absolute;
	top: 0px;
	width: 88%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: #f2f2f2;
	border: 1px solid #bfbfbf;
	border-radius: 5px;
}
#register{	
	z-index: 21;
	opacity: 0;
}	
#login{
	z-index: 22;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
	z-index: 22;
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-ms-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}

.animate{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	
	-o-animation-duration: 0.5s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	
	-ms-animation-duration: 0.5s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}


.lt8 #wrapper input{
	padding: 10px 5px 10px 32px;
    width: 92%;
}
.lt8 #wrapper input[type=checkbox]{
	width: 10px;
	padding: 0;
}
.lt8 #wrapper h1{
	color: #066A75;
}
.lt8 #register{	
	display: none;
}
.lt8 p.change_link,
.ie9 p.change_link{
	position: absolute;
	height: 90px;
	background: transparent;
}